
header{
    background-image: url(../images/BackgroundBMW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between; 
    border-bottom: solid 1px rgb(187, 180, 180); 
     
}
.header ul{
    display: flex;   
    margin-left: 150px;
   
}
.header__nav1-list a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.header__nav2 a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;    
}
.icons img{
    width: 80px;
    margin-right: 300px;
}

.tittle{
    margin-top: 400px;
    margin-left: 100px;
}
.tittle h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.tittle p{
    color: white;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 5px;
}
.tittle button{
    background-color: rgb(35, 107, 190);
    width: 250px;
    height: 30px;
    border: none;
    margin-top: 5px;
}
.tittle a{
    text-decoration: none;
    color: white;
}
.series{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 20px;
    color: grey;
    font-weight: bold;

}
.list{
    display: flex;
    justify-content: center;
    margin: 20px;  
}
.list a{
    text-decoration: none;
    margin-left: 80px;
    font-size: 20px;
    color: grey;
    font-weight: bold;
    margin-bottom: 15px;
    
}
.section1{
    margin-bottom: 30px;
    border-bottom: solid 1px rgb(187, 180, 180);
}
.change:hover {
    color: black;
    font-size: 35px;
    border-bottom: solid 4px rgb(35, 107, 190);
    transition: linear;
}
.section2{
    display: flex;
    flex-wrap: wrap;
}
.section2__article{
    margin-left: 120px;
}
.section2__article img{
    width: 250px;
    margin-right: 5px;
}
.section2__article h4{
    font-weight: bolder;
}
.section2__article p{
    color: grey;
    font-weight: bold;
    margin-bottom: 15px;
}
.section2__article a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.section3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.section3__article{
    display: block;
    margin: 15px;
    padding: 15px;
    width: 250px;
    height: 300px;
    border: solid 1px grey;   
}

.section3__article img{
    width: 230px;
}
.section3__article h4{
    font-size: 40px;
    font-weight: bold;
}